body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    border-bottom: 2px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #408fd8;
    color: rgb(0, 0, 0);
  }
  
  td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 50px;
    vertical-align: top;
  }
  
  td:first-child {
    border-left: none;
  }
  
  td:last-child {
    border-right: none;
  }
  
  td div {
    padding: 5px;
    margin: 2px 0;
    background-color: transparent;
  }
  
  td div p {
    margin: 5px 0;
  }
  